/*banners*/

#banner-space {
    height:480px;
    position:relative;
    top:-100px;
    z-index:-1;

    @media only screen and (max-width: 940px) {
        height: auto;
        top: 0;
        text-align: right;
    }
}

.banner {
    position:absolute;

    @media only screen and (max-width: 940px) {
        margin-top: 80px;
        position: static;
        display: inline-block;
        margin-right: -6%;

    }
}

#banner-websites {
    width:591px;
    bottom:4px;
    left:56px;
}

#banner-about-us {
    width:630px;
    bottom:4px;
    left:17px;
}

#banner-solutions, #banner-privacy-policy {
    width:655px;
    bottom:4px;
    left:-1px;
}

#banner-web-apps {
    width:574px;
    bottom:0px;
    left:16px;

    @media only screen and (max-width: 940px) {
        margin-right: 20%;
    }
}

#banner-contact-us {
    width:599px;
    bottom:8px;
    left:49px;
}

#banner-thank-you {
    width:956px;
    bottom:0;
}

#banner-page-not-found {
    width:767px;
    bottom:0px;
    left:0px;

    @media only screen and (max-width: 940px) {
        margin-right: 20%;
    }
}


// Homepage Banners
.banners {
    position: absolute;
    left: 0;
    max-width: 958px;

    @media only screen and (max-width: 960px) {
        max-width: 100%;
    }
}

#banner-home {
    bottom:0;
}

#banner-home-2 {
    bottom:-315px;
    z-index:20;
    display: none;

    @media only screen and (max-width: 960px) {
        max-width: 98%;
    }
}

#banner-home-3 {
    bottom:-315px;
    display: none;
}
