/* contact page specific styles*/

.contact-kabu {
    margin-bottom:0px;
}

.contact-kabu h1 {
    width:272px;
    height:57px;
    line-height:57px;
    padding:0 0 0 25px;
    color:#5e7f77;
    background: url('../../img/contact-arrow.png');
    float:left;
    margin-top:5px;

    @media only screen and (max-width: 700px) {
        width: 100%;
        height: auto;
        background: none;
        float: none;
        line-height: 1.2;
        padding: 0;
    }
}

.contact-details {
    width:305px;
    float:left;
    margin:8px 0 0 15px;

    @media only screen and (max-width: 700px) {
        width: 100%;
        float: none;
        margin: 0 0 30px 0;
    }
}

.contact-details a, .contact-details p {
    font-family:'Viga', arial, sans-serif;
    display:block;
    color: #bd4137;
    text-decoration: none;
    font-size:24px;
    font-weight:normal;
    line-height:24px;
    margin:0;

    -ms-word-break: break-all;
     word-break: break-all;
     // Non standard for webkit
     word-break: break-word;
}

#kabu-phone {
    background: url('../../img/phone-icon.png') no-repeat center left;
    padding:0 0 0 35px;
}

#kabu-phone span {
    font-size:24px;

    @media only screen and (max-width: 425px) {
        font-size: 17px;
    }
}

#kabu-email {
    font-size:21px;
    background: url('../../img/envelope-icon.png') no-repeat center left;
    margin-top:5px;
    padding:0 0 0 35px;

    @media only screen and (max-width: 425px) {
        font-size: 16px;
    }
}

.staff-profile {
    width: 42%;
    float: left;
    padding: 2.5% 2.5% 0 2.5%;
    background-color: #fff;
    border: 1px solid #ececec;
    background-color:#fdfcfa;
    border: 1px dashed #E3E0D7;
    margin-bottom: 40px;

    @media only screen and (max-width: 425px) {
        width: 95%;
        float: none;
        margin-bottom: 20px;
    }

    img {
        margin-bottom: 10px;
    }

    p {
        padding-bottom: 12px;
    }
}

.oli {
    margin-right: 4%;

    @media only screen and (max-width: 425px) {
        margin-right: 0;
    }
}
