/* contact page specific styles*/

.contact-kabu {
    margin-bottom:0px;
}

.contact-kabu h1 {
    width:272px;
    height:57px;
    line-height:57px;
    padding:0 0 0 25px;
    color:#5e7f77;
    background: url('../../img/contact-arrow.png');
    float:left;
    margin-top:5px;

    @media only screen and (max-width: 700px) {
        width: 100%;
        height: auto;
        background: none;
        float: none;
        line-height: 1.2;
        padding: 0;
    }
}

.contact-details {
    width:305px;
    float:left;
    margin:8px 0 0 15px;

    @media only screen and (max-width: 700px) {
        width: 100%;
        float: none;
        margin: 0 0 30px 0;
    }
}

.contact-details a, .contact-details p {
    font-family:'Viga', arial, sans-serif;
    display:block;
    color: #bd4137;
    text-decoration: none;
    font-size:24px;
    font-weight:normal;
    line-height:24px;
    margin:0;

    -ms-word-break: break-all;
     word-break: break-all;
     // Non standard for webkit
     word-break: break-word;
}

#kabu-phone {
    background: url('../../img/phone-icon.png') no-repeat center left;
    padding:0 0 0 35px;
}

#kabu-phone span {
    font-size:24px;
}

#kabu-email {
    font-size:21px;
    background: url('../../img/envelope-icon.png') no-repeat center left;
    margin-top:5px;
    padding:0 0 0 35px;
}

#map {
    clear:both;
    padding: 15px 20px 20px 20px;
    width: 575px;
    margin:3px 0 20px 0;

    @media only screen and (max-width: 940px) {
        width: 95%;
        padding: 2%;
    }
}

#map p {
    padding-bottom:15px;
}

#map_canvas {
    width:575px;
    height:200px;

    @media only screen and (max-width: 940px) {
        width: 100%;
    }
}
