/* websites page specific styles*/

h1#h1-grid {
    display:block;
    float:left;
    line-height:36px;
    padding-top:5px;
    margin-bottom:12px;

    @media only screen and (max-width: 940px) {
        float: none;
    }

}

h1#h1-grid:before {
    content: '';
    background: url('../../img/h1-grid.png') no-repeat 52.5% 0%;
    width:48px;
    height:43px;
    display:block;
    float:right;
    margin-left:-7px;

    @media only screen and (max-width: 940px) {
        display: none;
    }
}

@media only screen and (max-width: 940px) {
    .websites-intro {
        width: auto;
        float: none;
    }
}

.portfolio-testimonial {
    width:250px;
    padding:20px;
    background-color:#fdfcfa;
    border: 1px dashed #E3E0D7;
    float:right;
    height:258px;

    @media only screen and (max-width: 940px) {
        width: auto;
        float: none;
        height: auto;
    }
}


/*Individual Projects*/

.project {
    padding: 50px 0;
    border-bottom: 1px dashed #E3E0D7;
    margin-bottom:0;
}

.project-text {
    width:210px;

    @media only screen and (max-width: 940px) {
        width: auto;
    }
}

.project-text h3 {
    padding: 0 0 20px 0;
    color:#333;
}

.project-image {
    width:700px;
    height:350px;
    border:1px solid #f0efed;

    @media only screen and (max-width: 940px) {
        height: auto;
    }
}

.project-odd .project-text,
.project-even .project-image {
    float:left;

    @media only screen and (max-width: 940px) {
        float: none;
    }
}

.project-even .project-text,
.project-odd .project-image {
    float:right;

    @media only screen and (max-width: 940px) {
        float: none;
    }
}

.project-last {
    border-bottom:0;
}
