<div id="banner-space" class="wrapper{% if page.banner == 'home' %} home-banner-space{% endif %}">
    <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="/assets/img/banners/{{ page.banner }}.png" media="(min-width: 401px)">
        <source srcset="/assets/img/banners/{{ page.banner }}-mobile.png" media="(max-width: 400px)">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/assets/img/banners/{{ page.banner }}.png" alt="{{ page.title }}" id="banner-{{ page.banner }}" class="banner{% if page.banner == 'home' %}s{% endif %}">
    </picture>

    {% if page.id == 'home' %}
        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="/assets/img/banners/home-2.png" media="(min-width: 401px)">
            <source srcset="/assets/img/banners/home-2-mobile.png" media="(max-width: 400px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="/assets/img/banners/home-2.png" alt="{{ page.title }}" id="banner-home-2" class="banners">
        </picture>
        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="/assets/img/banners/home-3.png" media="(min-width: 401px)">
            <source srcset="/assets/img/banners/home-3-mobile.png" media="(max-width: 400px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="/assets/img/banners/home-3.png" alt="{{ page.title }}" id="banner-home-3" class="banners">
        </picture>
    {% endif %}
</div>
