<footer>
    <div id="footer-content">
        <div class="wrapper">
            <!-- Twitter goes here -->
            <div id="social-media-buttons">
                <a href="http://facebook.com/kabucreative" class="flt-left" data-network="Facebook" id="facebook-icon" target="_blank"></a>
                <a href="http://twitter.com/kabucreative" class="flt-left w-gutter" data-network="Twitter" id="twitter-icon" target="_blank"></a>
                <a href="https://www.linkedin.com/company/kabu-creative" class="flt-left w-gutter" data-network="LinkedIn" id="l-in-icon" target="_blank" data-proofer-ignore></a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="social-media-wrapper"><span class="arrow-top"></span><span class="visit-us">Visit us on social media platforms!</span></div>

        <div class="footer-bottom-menu">
            <div class="wrapper">
                <div id="sub-menu">
                    <span>
                        <a href="/privacy-policy/">Privacy Policy</a>
                    </span>
                    <span class="powered">
                        <a href="mailto:careers@kabucreative.com" class="careers">careers@kabucreative.com</a>
                    </span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</footer>

