<nav>
    <a id="home" class="{% if page.id == 'home' %}active{% endif %}" href="/">
        Home
        <i class="fa fa-chevron-right"></i>
    </a>
    <a id="solutions" class="{% if page.id == 'solutions' %}active{% endif %}" href="/solutions/">
        Solutions
        <i class="fa fa-chevron-right"></i>
    </a>
    <a id="about-us" class="{% if page.id == 'about-us' %}active{% endif %}" href="/about-us">
        About Us
        <i class="fa fa-chevron-right"></i>
    </a>
    <a id="websites" class="{% if page.id == 'websites' %}active{% endif %}" href="/websites/">
        Websites
        <i class="fa fa-chevron-right"></i>
    </a>
    <a id="web-apps" class="{% if page.id == 'web-apps' %}active{% endif %}" href="/applications/">
        Web Apps
        <i class="fa fa-chevron-right"></i>
    </a>
    <a id="contact-us" class="{% if page.id == 'contact-us' %}active{% endif %}" href="/contact-us/">
        Contact
        <i class="fa fa-chevron-right"></i>
    </a>
</nav>
