/*ie 8 conditional stylesheet - it ain't pretty, but it works*/

h1,
h2,
h3,
.green-button,
nav a,
#cta form #cta-submit,
#cta-button,
.four-steps li strong:before,
.comments-button,
.pulledquote,
.tweet,
.blog-post-teaser h2 a,
.contact-details a,
.contact-details p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight:bold !important;
}

.contact-kabu h1 {
    font-size: 24px;
}

#kabu-email {
    font-size:20px;
}

.services-testimonial blockquote q{
    font-size:13px;
}

.pride ul.tick li {
    width:290px;
}

.next, .prev {
    filter: alpha(opacity=100);
}

.next {
    background-image: url('../img/slides-next.jpg');
}

.prev {
    background-image: url('../img/slides-prev.jpg');
}
